body {
  font-family: 'Lucida Grande', Verdana, sans-serif;
}

.kitchen-background {
  padding: 6em 0;
  background-image: url('../images/kitchen-crop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 60em;
  border-top: solid 1em #F0E68C;
}

.kitchen-background h1 {
  text-align: center;
  margin-top: 1em;
  font-size: 3em;
  color: white;
}

.shopping-list {
  padding: 0;
  width: 60%;
  margin: auto;
  background-color: #F0E68C;
  border: 1px solid black;
  font-size: 1.25em;
}

.shopping-list li {
  height: 1.25em;
  list-style-type: none;
  text-align: left;
  text-align: bottom;
  padding-top: 1em;
  padding-left: 0.5em;
  border-bottom: 1px solid navy;
}

.shopping-list li:checked {
  text-decoration: strikethrough;
}

@media only screen and (max-width: 500px) {
    .kitchen-background h1 {
        font-size: 2.5em;
    }
    .shopping-list {
      width: 80%;
      font-size: 1em;
    }
}

